<section class="bg-info py-1 px-1">
    <h3>{{project.name}}</h3>
</section>

<section class="py-3">
    <form action="/projects/{{project.$loki}}" method="post">
        <div>
            <textarea name="content" id="content" cols="30" rows="10" class="form-control">{{project.content}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            save
        </button>

        <div id="group-list">
            {{#each groupData}}
                <div class="card">
                    <a data-toggle="collapse" data-parent="#group-list" href="#key-{{@key}}-group" class="card-header" id="key-{{@key}}" style="display: block">
                        <h5 class="mb-0">
                        {{@key}}
                        </h5>
                    </a>
                    <div id="key-{{@key}}-group" class="collapse" role="tabpanel" aria-labelledby="key-{{@key}}">
                        <div class="card-block">
                            {{#each this}}
                                <div class="form-group">
                                    <label for="">{{name}}</label>
                                    <input type="text" name="field[{{name}}]" value="{{value}}" class="form-control">
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <button type="submit" class="btn btn-primary">
            save
        </button>
    </form>
</section>